
<div class="mt-16 flex flex-col items-center border-t border-neutral-200 dark:border-neutral-800 pt-12">
    <div class="flex justify-center gap-16 text-xl font-bold tracking-wide">
        <a href="/pdf/Emily_Dye_Resume.pdf" target="_blank" class="text-neutral-700 dark:text-neutral-300 hover:text-primary-600 transition-colors">RESUME</a>
        
        <a href="/projects/" class="text-neutral-700 dark:text-neutral-300 hover:text-primary-600 transition-colors">PROJECTS</a>
        
        <a href="/about/" class="text-neutral-700 dark:text-neutral-300 hover:text-primary-600 transition-colors">ABOUT</a>
    </div>
</div>

